@charset "UTF-8";

@font-face {
    font-family: 'ceremonious';
    src: url("~assets/fonts/ceremonious_one.woff") format("woff"), url("~assets/fonts/ceremonious_one.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
