.gallery{
    & h4 {
        opacity: 0;
        animation: anim-title 0.5s 0.5s forwards;
    }
    & h2 {
        opacity: 0;
        animation: anim-title 0.5s 1s forwards;
    }
    & .info__decor {
        opacity: 0;
        animation: anim-title 0.5s 1.5s forwards;
    }
    &__list{
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;    
        opacity: 0;
        animation: anim-title 1.5s 1.7s forwards;
    }
    &__list-info{
        display: inline-block;
        padding: 0px 20px;
        cursor: pointer;
        &:hover .gallery__list-link:after,
        &:focus .gallery__list-link:after {
            width: 100%;
        }
    }
    &__list-link{
        position: relative;
        color: #c59d5f;
        letter-spacing: 1.5px;
        line-height: 32px;
        display: inline-block;
        height: 42px;
        &.active{ 
            &:after {  
                display: block;
                content: "";
                background-color: #c59d5f;
                height: 2px;
                width: 100%;
                left: 50%;
                position: absolute;
            }
        }
        &:after {
            display: block;
            content: "";
            background-color: #c59d5f;
            height: 2px;
            width: 0%;
            left: 50%;
            position: absolute;
            -webkit-transition: width .4s ease-in-out;
            -moz--transition: width .4s ease-in-out;
            transition: width .4s ease-in-out;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
    &__box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &__item{
        flex: 0 0 32%;
        width: 32%;
        min-height: 225px;
        margin-bottom: 2%;
        overflow: hidden;
        position: relative; 
        transform: scale(1);
        display: block;
    }
    &__item-img{
        min-height: 225px;
        width: 100%;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 1.5s;
        transition-timing-function: linear;
        img{
            display: none;
        } 
    }
    &__item-link{
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        height: 100%;
        &:before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            background: rgba(197, 157, 95, 0.8);
            z-index: 1;
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
        }         
        span{
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: inline-block;
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 25px;
            line-height: 46px;
            border-radius: 50%;
            color: #fff;
            background: #9d7d4c;
            opacity: 0;
            z-index: 3;
            transition: all 0.3s linear;            
        }
    }
}
.invisible{
    animation: anim-invisible 1.5s forwards;
}  
.visible{
    animation: anim-visible 1.5s forwards;
} 
.done .visible{
    transform: scale(0);
    animation: anim-visible 3s 1.9s forwards;
} 
@media (max-width:1212px){
    .gallery__item {
        min-height: 235px;
        &-img{
            min-height: 235px;
        }
    }
}
@media (min-width:991px){
    .gallery__item:hover{
        & .gallery__item-img{            
            transform: scale(1.24); 
        }
        & .gallery__item-link:before{
            height: 100%;
        } 
        & .gallery__item-link span{
            opacity: 1;
        }
    } 
}
@media (max-width:700px){
    .gallery__item {
        flex: 0 0 49%;
        width: 49%;
        min-height: 200px;
        &-img{
            min-height: 200px;
        }
    }
}
@media (max-width:500px){
    .gallery .info__decor {
        padding: 5px 0;
    }
}
@media (max-width:430px){
    .gallery__list {
        padding: 15px 0 20px;
    }
}
@media (max-width:400px){
    .gallery__box{
        display: block;
    }
    .gallery__item {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
}
@media (max-width:380px){
    .gallery__list-info {
        padding: 5px 10px;    
    }
}

